div {
  width: 100%;
  height: 100%;
}


.Background_box {
  background: #FFB0BC;
  border: 2px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 8px 0px #202020;
  border-radius: 10px;

  margin: 20px;
  width: 100px;
  height: 100px;
  perspective: 1000px;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip_box {
  perspective: 1000px;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}


.front,
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front:hover {
  box-shadow: 0px 0px 20px 1px #000;
}

.back {
  transform: rotateY(180deg);
}

.back:hover {
  box-shadow: 0px 0px 20px 1px #000;
}

.aqua-gradient {
  height: 300px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(233, 242, 233, 0.9878326330532213) 0%, rgba(0, 212, 255, 1) 51%, rgba(114, 156, 7, 1) 93%);
}

.image {
  margin-top: -150px;
}

.avatar-container {
  width: 90%;
  border: 1px solid #eee;
}