@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

:root{
    --primary-color: #52d6edff;
    --secondary-color: #ffe1f0ff;
    --font-color: #484848ff;
    --secondary-font-color: #767676ff;
    --bg-color: #ffffffff;
}

html,body{
    color: var(--font-color);
    overflow: hidden;
    height: 100%;
    padding-top: 44px;
    padding-bottom: 25px;
}

h1{
  /* position: absolute; */
  width: 778px;
  height: 151px;
  left: 330px;
  top: 182px;

  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 75px;
  /* or 108% */

  text-align: center;
  letter-spacing: 2px;

  /* Main / White */

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
  /* position: absolute; */
  width: 558px;
  height: 146px;
  left: 120px;
  top: 80px;

  /* Headline / H2 */

  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 48px;
  /* or 108% */

  letter-spacing: 2px;

  /* Main / Black */

  color: #1C1C1D;
}


h3 {
  height: 66.30784606933594px;
  width: 311.2183837890625px;
  left: 0px;
  top: 0px;
  border-radius: 25px;
  background: #FFFFFF;
  border: 2px solid #1C1C1D;
  margin-left: 50px;
  margin-top: 20px;
  text-align: center;
  /* Font ptoperties */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

   
  padding: 15px;
  letter-spacing: 0.625px;

  /* Main / Black */

  color: #1C1C1D;
  white-space: nowrap;

}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0.44999998807907104px;
  text-align: left;
  color: black;
  white-space: nowrap;
}


h5 {
  width: 289px;
  height: 49px;
  left: 758px;
  top: 190px;
  padding-left: 5%;

  /* Headline / H5 */

  font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: 900;
  font-size: 200%;
  line-height: 48px;
  /* identical to box height, or 108% */

  letter-spacing: 2px;

  /* Main / Black */

  color: #1C1C1D;
  white-space: nowrap;
}

.header{
  position: relative;
  background-color: #FA6648; /* temporary color for highlighting */
  max-width: 100%;
  height: 41px;
}

#new_header {
    background-color: var(--secondary-color); /* temporary color for highlighting */
    color: var(--secondary-font-color);
    /* position: sticky;
    top: 0; */
    text-align: center;
    font-family: sans-serif, sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    padding: 0;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: var(--font-color);
    font-weight: 600;
}

.fa-bars{
    color: var(--font-color);
    font-size: 30px;
}

.navbar-toggler{
    outline: none;
}

.dropdown-menu{
    background-color: var(--primary-color);
}

.dropdown-item li a{
    color: var(--font-color);
}

.navbar-brand img{
    height: 40;
    padding-left: 100;
} /* Logo button/*

/* this class make elements stick to the top of the page on scroll */
.sticky_to_top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.stay_in_bottom {
    position: relative;
}

.helloworld{
    /* Bg  */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 7.41%;

/* Palet 1 / 5 */
background: #FFBD12;
/* Main / Black */
border: 1px solid #1C1C1D;
box-sizing: border-box;
/* Button */
box-shadow: 0px 4px 0px #202020;
border-radius: 10px;

}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .ddmenu{
    width: 50px;  
    height: auto; 
  }
  
  .dropdown-content a:hover {background-color: #FFB0BC;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
.button1 {
    /* Bg  */
margin-top: 5px;
margin-bottom: 10px;
/* Palet 2 / 4 */
background: #FFC636;
/* Main / Black */
border: 1px solid #1C1C1D;
box-sizing: border-box;
/* Button */
box-shadow: 0px 4px 0px #202020;
border-radius: 15px;
height: 30px;
width: 180px;
font-family: 'Montserrat', sans-serif;
font-size: 100%;
font-style: normal;
font-weight: 900;
line-height: 25px;
letter-spacing: 0.44999998807907104px;
text-align: center;
}

.button1-big {
/* Palet 2 / 4 */
background: #FFC636;
/* Main / Black */
border: 1px solid #1C1C1D;
box-sizing: border-box;
/* Button */
box-shadow: 0px 4px 0px #202020;
border-radius: 10px;
height: 80%;
width: 200px;
font-family: 'Montserrat', sans-serif;
font-size: 120%;
font-style: normal;
font-weight: 900;
line-height: 25px;
letter-spacing: 0.44999998807907104px;
text-align: center;

}

.rating-star {
  margin-bottom: 3%;
  margin-right: 2%;
}

a { color: inherit; } /* removing the awful blue color of the links */
a:hover { color: inherit; } /* remove the awful blue color on hovernig */

.shrink {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.plus-left {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 200px;
}

.plus {
    width: 25px;
    height: auto;
}

.second_header{
    height: 150px;
    max-width: 100%;
    left: 0px;
    top: 90px;
    border-radius: 0px;
    background: #FFB0BC;
}

.profile_pic {
    margin-top: 15px;
}



.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 10%; */
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(71, 74, 87, 1);

}

.location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-align: left;
    letter-spacing: 0.625px;

    /* Main / Black */

    color: #1C1C1D;
    white-space: nowrap;
}

.set-date {
    background: rgba(25, 255, 227, 1);
    height: 50.65306091308594px;
    width: 130px;
    left: 0px;
    top: -0.6530609130859375px;
    border-radius: 10px;
    border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);

    letter-spacing: 0.5px;
}

.set-time {
    height: 50.65306091308594px;
    width: 120px;
    left: 0px;
    top: -0.6530609130859375px;
    margin-left: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);
}



  .flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
  }

  .cbx {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx {
    display: none;
  }
  #cbx:checked + .cbx {
    border-color: #000;
  }
  #cbx:checked + .cbx .flip {
    transform: rotateY(180deg);
  }
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }

  .cbx1 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx1 {
    display: none;
  }
  #cbx1:checked + .cbx1 {
    border-color: #000;
  }
  #cbx1:checked + .cbx1 .flip {
    transform: rotateY(180deg);
  }

  .cbx2 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx2 {
    display: none;
  }
  #cbx2:checked + .cbx2 {
    border-color: #000;
  }
  #cbx2:checked + .cbx2 .flip {
    transform: rotateY(180deg);
  }

  .cbx3 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx3 {
    display: none;
  }
  #cbx3:checked + .cbx3 {
    border-color: #000;
  }
  #cbx3:checked + .cbx3 .flip {
    transform: rotateY(180deg);
  }

  .cbx4 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx4 {
    display: none;
  }
  #cbx4:checked + .cbx4 {
    border-color: #000;
  }
  #cbx4:checked + .cbx4 .flip {
    transform: rotateY(180deg);
  }

  .cbx5 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx5 {
    display: none;
  }
  #cbx5:checked + .cbx5 {
    border-color: #000;
  }
  #cbx5:checked + .cbx5 .flip {
    transform: rotateY(180deg);
  }

  .cbx6 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx6 {
    display: none;
  }
  #cbx6:checked + .cbx6 {
    border-color: #000;
  }
  #cbx6:checked + .cbx6 .flip {
    transform: rotateY(180deg);
  }

  .cbx7 {
    -webkit-perspective: 20;
    perspective: 20;
    margin-left: 25px;
    top: 50%;
    left: 50%;
    border: 2px solid #1c1c1d;
    background: #fff;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #cbx7 {
    display: none;
  }
  #cbx7:checked + .cbx7 {
    border-color: #000;
  }
  #cbx7:checked + .cbx7 .flip {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }


  .front {
    background: #fff;
    z-index: 1;
  }
  .back {
    transform: rotateY(180deg);
    background: #ffbd12;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #000;
  }
  .back svg {
    margin-top: 3px;
    fill: none;
  }
  .back svg path {
    stroke: #000;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .order-box {
    height: 90%;
    width: 90%;
    left: 718px;
    top: 164px;
    margin-top: 3.4%;
    border-radius: 10px;
    background: rgba(255, 176, 188, 1);
    border: 2px solid rgba(28, 28, 29, 1);    
  }

  .instructions {
    height: 54px;
    width: 585px;
    left: 758px;
    top: 264px;
    border-radius: nullpx;
    color: rgba(71, 74, 87, 1);
    font-size: 100%;
    padding-left: 5%;
  }


.note {
    height: 20%;
    width: 90%;
    left: 758px;
    top: 492px;
    margin-left: 5%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);
}

.cont {
    display: block;
    position: relative;
    padding-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    cursor: pointer;
    font-size: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(28, 28, 29, 1);
    border-radius: 10px;
  }
  
  /* On mouse-over, add a grey background color */
  .cont:hover input ~ .checkmark {
    background-color: rgba(25, 255, 227, 1);
  }
  
  /* When the checkbox is checked, add a blue background */
  .cont input:checked ~ .checkmark {
    background: rgba(255, 189, 18, 1);
  
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .cont input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .cont .checkmark:after {
    left: 3px;
    top: 3px;
    width: 10px;
    height: 7px;
    border: 1px solid rgba(28, 28, 29, 1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .small-box {
    background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);
    height: 20%;
    width: 100%;
    left: 0px;
    top: -0.6530606746673584px;
    border-radius: 10px;
    text-align: center;
    padding-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
  }