@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

/* $brown: #1C1C1D; */

.frame {
    height: 180px;
    width: 263px;
    color: #1C1C1D;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-top: 5%;
}

.center-order {
    height: 180px;
    width: 263px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.profile {
    float: left;
    width: 185px;
    text-align: center;
}

.image-order {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 8% 20%;
}

.circle-1 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #1C1C1D;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}

.circle-1 .circle-2 {
    @extend .circle-1;
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #1C1C1D;
}



.image:hover {
    cursor: pointer;
}

.circle-1 {
    transform: rotate(360deg);
}

.circle-2 {
    transform: rotate(-360deg);
}



.name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5%;
    margin-left: -20%;
}


.actions {
    margin-top: 10%;
}

.btn-white {
    display: block;
    width: 120px;
    height: 30px;
    margin-left: 10%;
    background: none;
    border: 1px solid #1C1C1D;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: #1C1C1D;
}

.btn-white-big {
    display: block;
    width: 125px;
    height: 35px;
    margin-left: 10%;
    background: none;
    border: 1px solid #1C1C1D;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    color: #1C1C1D;
    background-color: #f5f5f5;
}

.btn-white:hover {
    background: #19FFE3;
    color: #1C1C1D;
}




.stats {
    float: left;
    margin-left: -8%;
}

.box-price {
    box-sizing: border-box;
    width: 99px;
    height: 90px;
    background: #FFB0BC;
    text-align: center;
    padding-top: 28px;
    transition: all .4s ease-in-out;
}

.box-price:hover {
    background: #C4C4C4;
    cursor: pointer;
}

.box-price:nth-child(2) {
    margin: 1px 0;
}


span {
    display: block;
}

.value {
    font-size: 18px;
    font-weight: 600;
}

.parameter {
    font-size: 11px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    border: 2px solid #1C1C1D;
    border-radius: 10%;
}

.cardo {
    padding: 10px;
    margin: 10%;
    height: 270px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    border: 1px solid #1C1C1D;
    border-radius: 5%;
}


.b-small {
    /* Bg  */
    margin-top: 5px;
    margin-bottom: 10px;
    /* Palet 2 / 4 */
    background: #FFC636;
    /* Main / Black */
    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    /* Button */
    box-shadow: 0px 4px 0px #202020;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.44999998807907104px;
    text-align: center;
}

.b-small:active {
    transform: scale(0.98);
}

.b-small:focus {
    outline: none;
}

.btn-white:focus {
    outline: none;
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px #FFB0BC !important
}

.send {
    color: #fff;
    background-color: #FFB0BC;
    border-color: #FFB0BC;
}

.send:hover {
    color: #fff;
    background-color: #FFB0BC;
    border-color: #FFB0BC;
}

.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-right: 100px;
    float: center;
}

.rating>input {
    display: none
}



.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #FFBD12;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}