.image-2 {
    width: 200px;
    height: 260px;
    margin-top: 3%;
    margin-left: 5%;
}

svg {
    overflow: visible !important;
}

h7 {
    width: 289px;
    height: 49px;
    left: 758px;
    top: 190px;
    padding-left: 5%;
    margin-left: 5%;
    margin-bottom: 2%;

    /* Headline / H5 */

    font-family: 'Permanent Marker', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 42;
    line-height: 48px;
    /* identical to box height, or 108% */

    letter-spacing: 2px;

    /* Main / Black */

    color: #1C1C1D;
    white-space: nowrap;
}

h8 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0.44999998807907104px;
    text-align: left;
    color: black;
    white-space: nowrap;
}

.place_order_table {
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Montserrat';
}

.close_ind {
    color: #F95A2C;
    font-weight: bolder;
    width: 100px;
}

.open_ind {
    display: inline-block;
    color: #88FFB8;
    font-weight: bolder;
    width: 100px;
    text-shadow: 0 0 2px black;
}

.tabs-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-align: center;
    letter-spacing: 0.625px;

    /* Main / Black */

    color: #1C1C1D;
    white-space: nowrap;
}

.logo-header {
    height: 40px;
    width: 40px;
    margin-left: 100px;
}

.tabs-border {
    border: 2px solid rgba(28, 28, 29, 1);
    height: 55px;
    width: 650px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
}

.window-border {
    margin-top: 2%;
    margin-bottom: 4%;
    height: 380px;
    width: 1000px;
    left: 120px;
    top: 1040px;
    border-radius: 5px;
    border: 2px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 8px 0px 0px rgba(32, 32, 32, 1);
}

.place-order {
    overflow: visible;
    width: 667;
    height: 611;
}

.cute-washer {
    width: 30%;
    margin-top: -27%;
    margin-left: 50%;
}

.cute-hanger{
    width: 35%;
    /* margin-top: -12%; */
    margin-left: 55%;
}

.ironing-person-2{
    width: auto;
    height: 80%;
}

selected {
    font-size: 14px;
    font-family: 'Montserrat';
    text-align: center;
    position: absolute;
}

.image-1 {
    width: 200px;
    height: 260px;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 10px;
}

.image-2 {
    width: 200px;
    height: 260px;
    margin-top: 3%;
    margin-left: 5%;
}

.tabs-border-small {
    border: 2px solid rgba(28, 28, 29, 1);
    height: 56px;
    width: 650px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
}

select::-ms-expand {
    display: none;
}

.plus-btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 25%;
}

.save-button {
    margin-top: 5px;
    margin-left: 20%;
    margin-bottom: 10px;
    /* Palet 2 / 4 */
    background: #FFC636;
    /* Main / Black */
    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    /* Button */
    box-shadow: 0px 4px 0px #202020;
    border-radius: 15px;
    height: 30px;
    width: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0.44999998807907104px;
    text-align: center;
}


.header_49{
    font-size: 25px;
    text-align: center;
    margin-right: 5%;
}