.image-2 {
    width: 200px;
    height: 260px;
    margin-top: 3%;
    margin-left: 5%;
}

svg{
    overflow: visible !important;
}

h7 {
    width: 289px;
    height: 49px;
    left: 758px;
    top: 190px;
    padding-left: 5%;
    margin-left: 5%;
    margin-bottom: 2%;

    /* Headline / H5 */

    font-family: 'Permanent Marker', cursive;
    font-style: normal;
    font-weight: 900;
    font-size: 350%;
    line-height: 48px;
    /* identical to box height, or 108% */

    letter-spacing: 2px;

    /* Main / Black */

    color: #1C1C1D;
    white-space: nowrap;
}

h8 {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0.44999998807907104px;
    text-align: left;
    color: black;
    white-space: nowrap;
}

.place_order_table {
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.close_ind {
    color: #F95A2C;
    font-weight: bolder;
    width: 100px;
}

.open_ind {
    display: inline-block;
    color: #88FFB8;
    font-weight: bolder;
    width: 100px;
    text-shadow: 0 0 2px black;
}

.tabs-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-align: center;
    letter-spacing: 0.625px;

    /* Main / Black */

    color: #1C1C1D;
    white-space: nowrap;
}

.logo-header {
    height: 40px;
    width: 40px;
    margin-left: 100px;
}

.tabs-border {
    border: 2px solid rgba(28, 28, 29, 1);
    height: 55px;
    width: 650px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
}

.window-border {
    margin-top: 2%;
    margin-bottom: 4%;
    height: 380px;
    width: 1000px;
    left: 120px;
    top: 1040px;
    border-radius: 5px;
    border: 2px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 8px 0px 0px rgba(32, 32, 32, 1);
}

.place-order{
    overflow:visible;
    width: 667;
    height: 611;
}

.cute-washer{
    width: 30%;
    margin-top: -27%;
    margin-left: 50%;
}