.review_pink {
    width: 654px;
    height: 500px;
    left: 393px;
    top: 135px;

    background: #FFB0BC;
    border: 2px solid #1C1C1D;
    box-sizing: border-box;
    box-shadow: 0px 8px 0px #202020;
    border-radius: 10px;
}

table.leave_review_table tr {
    text-align: center;
}

.header_24 {
    margin-top: 5%;
    margin-left: 7%;
    text-align: center;
    margin-bottom: -10%;

}

.small_headline_5 {
    width: 217px;
    height: 26px;
    left: 611px;
    top: 635px;

    /* Text / Regular 18 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    letter-spacing: 0.45px;

    /* Main / Gray */

    color: #474A57;
    margin-top: -14%;
    margin-bottom: -15%;
    margin-left: 33%;
}


.header_51 {
    width: 535px;
    height: 32px;
    left: 296px;
    top: 326px;

    /* Headline/Title/Bold 24 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 145% */

    letter-spacing: 0.625px;

    /* Main / Black */

    color: #1C1C1D;
    margin-left: 5%;
}

#submitImage {
    width: 200px;
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 7.41%;

    /* Palet 2 / 4 */

    background: #FFFFFF;
    /* Main / Black */

    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    /* Button */

    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;

    /* Button/Black 16 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 200%;
    /* Main / Black */

    color: #1C1C1D;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.45px;
    margin-left: 5%;
}

.photo_button {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Main / White */

    background: #FFFFFF;
    /* Main / Black */

    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.pic_photo {
    text-align: center;

}

#washer_review {
    left: 30.49%;
    right: 31.11%;
    top: 64.75%;
    bottom: 20.31%;

    /* Main / White */

    background: #FFFFFF;
    /* Main / Black */

    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    /* Elements */

    box-shadow: 0px 2px 0px #202020;
    border-radius: 10px;
    width: 500px;
    height: 70px;
    margin-left: 5%;

}


.yellow_button_4 {
    width: 200px;
    height: 50px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 7.41%;

    /* Palet 2 / 4 */

    background: #FFC636;
    /* Main / Black */

    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    /* Button */

    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;

    /* Button/Black 16 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    /* Main / Black */

    color: #1C1C1D;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.45px;
    margin-left: 37%;
}

* {
    margin: 0;
    padding: 0;

}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-left: 5%;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';


}

.rate>input:checked~label {
    color: #19FFE3;

}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #19FFE3;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #19FFE3;
}


#indicator5 {
    display: none;
    margin-top: 2%;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-left: 10%;
}

#submitImage:active {
    transform: translateY(4px);
}


.yellow_button_4:active {
    transform: translateY(4px);
}