@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');

.header{
    background-color: #FA6648; /* temporary color for highlighting */
    max-width: 100%;
    height: 41px;  
}

.Background_box{
    
    /* Rectangle 1256 */
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: -0.57%;
    bottom: 0%;
    /* Palet 1 / 3 */
    background: #FFB0BC;
    border: 2px solid #1C1C1D;
    box-sizing: border-box;
    box-shadow: 0px 8px 0px #202020;
    border-radius: 10px;
    width: 120%;
}


table.Background_box th{
    /* position: absolute; */
    left: 19.78%;
    right: 19.78%;
    top: 39.21%;
    bottom: 46.7%;

    /* Headline/Title/Bold 20 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-align: center;
    letter-spacing: 0.625px;

    /* Main / Black */

    color: #1C1C1D;
}

table.Background_box tr{
/* position: absolute; */
left: 9.71%;
right: 7.55%;
top: 53.74%;
bottom: 34.8%;

/* Text / Medium 18 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 145.4%;
/* identical to box height, or 26px */

text-align: center;
letter-spacing: 0.5px;

color: #000000;
}

table.Background_box td{
    /* position: absolute; */
    left: 9.71%;
    right: 7.55%;
    top: 53.74%;
    bottom: 34.8%;
    
    /* Text / Medium 18 */
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 145.4%;
    /* identical to box height, or 26px */
    
    text-align: center;
    letter-spacing: 0.5px;
    
    color: #000000;
    }

.testimonial-group {
    overflow-x: auto;
    }
      
/* The heart of the matter */
.testimonial-group > .row {
    display: flex;
    overflow-x: auto;
    /* white-space: nowrap; */
    flex-wrap: nowrap;
  }
.testimonial-group > .row > .col-xs-3 {
    display: inline-block;
    float: none;
}

.col_with_padd {
    margin:10px; 
    padding:10px;
}