.rounded-circle-small {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.rounded-circle-xxs {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    outline: none;
    background-color: inherit;
    margin-top: -0.5%;
}

.unstyle_name {
    outline: none;
    border: none;
    background-color: inherit;
    text-align: left;
    display: inline-block;
    margin: 0;
    width: 150px;
}


.rounded-circle {
    padding-top: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    object-fit: cover;
}

.rounded-circle-xs {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.rounded-circle-big {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border-width: 1px;
    border-style: solid;
    border-color: #1C1C1D;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}

.img-rounded {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;

    object-fit: cover;
}


.img-rounded-small {
    display: inline-block;
    width: 75px;
    height: 75px;

    object-fit: cover;
}

.fa-heart-o {
    color: red;
    cursor: pointer;

}

.fa-heart {
    color: red;
    cursor: pointer;
}