.rounded-circle-small {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    object-fit: cover;
}


.rounded-circle {
    padding-top: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    object-fit: cover;
}

.rounded-circle-big {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 15%;
    margin-left: 15%;
    object-fit: cover;
}

.img-rounded {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin:10px; 
    padding:10px;
  
    object-fit: cover;
}


.img-rounded-small {
    display: inline-block;
    width: 75px;
    height: 75px;
  
    object-fit: cover;
}

.fa-heart-o {
    color: red;
    cursor: pointer;

  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }
  