@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --color-1: #F95A2C;
    --color-2: #19FFE3;
    --color-3: #FFB0BC;
    --color-4: #FF785C;
    --color-5: #FFBD12;
    --font-color: #1C1C1D;
    --secondary-font-color: #474A57;
    --bg-color: #ffffffff;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0;
}

.main-row {
    position: absolute;
}


h1 {
    width: 778px;
    height: 151px;
    left: 330px;
    top: 182px;
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;

    /* changed font size */
    font-size: 60px;
    line-height: 75px;
    /* or 108% */

    text-align: center;
    letter-spacing: 2px;

    /* Main / White */
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    /* position: absolute; */
    width: 558px;
    height: 146px;
    left: 120px;
    top: 80px;

    /* Headline / H2 */
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 48px;
    /* or 108% */

    letter-spacing: 2px;

    /* Main / Black */
    color: #1C1C1D;
}

h3 {
    width: 535px;
    height: 153px;
    left: 448px;
    top: 287px;

    /* Headline/Title/Samibold 34 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    /* or 51px */

    text-align: center;
    letter-spacing: 0.45px;

    /* Main / Black */
    color: #1C1C1D;
}

h4 {
    left: 37.04%;
    right: 21.31%;
    top: 7.42%;
    bottom: 84.7%;

    /* Headline/Title/Samibold 34 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    /* or 51px */

    letter-spacing: 0.45px;
}

h6 {
    left: 18.04%;
    right: 45.06%;
    top: 22.51%;
    bottom: 72.37%;

    /* Headline/Title/Bold 20 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    letter-spacing: 0.625px;

    /* Main / Black */
    color: #1C1C1D;

}

.small_headline {
    /* position: absolute; */
    width: 527px;
    height: 54px;
    left: 120px;
    top: 250px;

    /* Text / Regular 18 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-top: -12%;
    margin-left: 10%;
    /* or 27px */

    letter-spacing: 0.45px;

    /* Main / Gray */
    color: #474A57;
}

.small_headline_2 {
    width: 380px;
    height: 162px;
    left: 120px;
    top: 188px;

    /* Text / Regular 18 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    letter-spacing: 0.45px;
    margin-top: -50%;
    margin-left: 10%;


    /* Main / Gray */
    color: #474A57;
}


.red-section {
    width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;

    /* Palet 1 / 2 */
    background: #FA6648;
}

.white-section {
    width: 100%;
    height: 468px;
    left: 0px;

    /* Main / White */
    background: #FFFFFF;
    margin-left: 99.6px !important;
}

.pink-section {
    width: 100%;
    height: 574px;
    left: 0px;

    /* Palet 1 / 3 */
    background: #FFB0BC;
}

.white-section-2 {
    width: 1440px;
    height: 562px;
    left: 99.6px;
    top: 1924px;
    background: #FFFFFF;
    margin-left: 99.6px !important;
}

.rope_img {
    margin-bottom: 3%;

}

.orange_machine {
    width: 470px;
    height: 288px;
    left: 829px;
    top: 90px;
    right: 0px;
}

.white-section-info {
    margin: auto 0 !important;
}

.cards {
    position: absolute;
    height: 411px;
    margin-top: 70px;
    right: 0;
    left: 0;
    margin: 70px auto !important;
}

.leptop {
    width: 652px;
    height: 382px;
    left: 606px;
    top: 82px;
    margin-top: 85px;
}

.red_button {
    width: 200px;
    height: 50px;
    left: 120px;
    top: 400px;
    bottom: 7.41%;

    /* Palet 1 / 1 */
    background: #F95A2C;

    /* Main / Black */
    border: 1px solid #1C1C1D;
    box-sizing: border-box;
    /* Button */
    box-shadow: 0px 4px 0px #202020;
    border-radius: 10px;
    margin-top: -15%;

    /* Button/Black 16 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;
    letter-spacing: 0.45px;

    /* Main / White */
    color: #FFFFFF;
    margin-left: 10%;

}

.red_button:active {
    transform: translateY(4px);
}


.header_11 {
    right: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
}

.header_21 {
    margin-left: 10%;
    margin-top: -10%;
}

.header_22 {
    margin-top: -25%;
    margin-left: 10%;
}


.row-header {
    margin-top: 4% !important;
}


.input-box {
    height: 50.65306091308594px;
    width: 277px;
    left: 0px;
    top: -0.6530606746673584px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);
}

.choose_location {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);
    height: 30px;
    width: 170px;
    left: 0px;
    top: -0.6530606746673584px;
    border-radius: 10px;
    font-size: 100%;
    font-family: 'Montserrat';
}

.choose_location:focus {
    outline: none;
}

.box select {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(28, 28, 29, 1);
    box-shadow: 0px 2px 0px 0px rgba(32, 32, 32, 1);
    height: 30px;
    width: 170px;
    left: 0px;
    top: -0.6530606746673584px;
    border-radius: 10px;
    margin-right: -10px;
    font-size: 100%;
    font-family: 'Montserrat';
    text-align: center;
}

.box select:focus {
    outline: none;
}

.search_btn {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#startTime {
    display: inline-block;
}


.table-search {
    height: 26px;
    border-radius: nullpx;
    font-family: 'Montserrat';

}

.table-search td,
th {
    text-align: left;
    padding: 4px;
}


.col-search-btn {
    margin: 0 auto;
    padding: 7%;
}


.row-search {
    height: 80px;
    border-radius: 20px;
    background: var(--color-3);
    border: 2px solid var(--font-color);
    box-shadow: 0px 8px 0px 0px var(--font-color);
    margin: auto !important;
}