<html>
    <head>
        <link rel="stylesheet" href="../../css/header_style.css">
        <link rel="stylesheet" href="../../css/orders_components.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    </head>
    <body>
        <div class='frame'>
            <div class='center-order'>
            
                <div class='profile'>
                    <div class='image-order'>
                        <div class='circle-1'></div>
                        <div class='circle-2'></div>
                        <img src='https://100dayscss.com/codepen/jessica-potter.jpg' width='70' height='70' alt='Jessica Potter'>
                    </div>
                    
                    <div class='name'>Jessica Potter</div>
                    
                    <div class='actions'>
                        <button class='btn-white' onclick='display_order()'>Order again</button>
                    </div>
                </div>
                
                <div class='stats'>
                    <div class='box-price'>
                        <span class='value'>10/07</span>
                        <span class='parameter'>Date</span>
                    </div>
                    <div class='box-price'>
                        <span class='value'>45</span>
                        <span class='parameter'>Price</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Reviews tamplate -->
        
        </div>
    </body>
</html>